<h1> Feature Transformation </h1>

In [4]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv('supershops.csv')

In [8]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [10]:
df.dropna(inplace = True )
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
df_norm = df.copy()
model_norm = MinMaxScaler()

In [20]:
df_norm['Marketing Spend'] = model_norm.fit_transform(df_norm[['Marketing Spend']])
df_norm['Administration'] = model_norm.fit_transform(df_norm[['Administration']])
df_norm['Transport'] = model_norm.fit_transform(df_norm[['Transport']])
df_norm['Profit'] = model_norm.fit_transform(df_norm[['Profit']])

In [22]:
df_norm.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [24]:
df_norm.dropna()

    Marketing Spend  Administration  Transport     Area    Profit
0          0.692617        0.651744   1.000000    Dhaka  1.000000
1          0.983359        0.761972   0.940893      Ctg  0.997355
2          0.927985        0.379579   0.864664  Rangpur  0.993178
3          0.873136        0.512998   0.812235    Dhaka  0.947292
4          0.859438        0.305328   0.776136  Rangpur  0.853171
5          0.797566        0.369448   0.769126    Dhaka  0.801382
6          0.814128        0.730161   0.270710      Ctg  0.796490
7          0.788018        0.717457   0.686493  Rangpur  0.794407
8          0.729018        0.741733   0.660500    Dhaka  0.774468
9          0.745906        0.436929   0.646443      Ctg  0.760661
10         0.616351        0.451506   0.485733  Rangpur  0.740175
11         0.608845        0.308364   0.529362      Ctg  0.729686
12         0.567670        0.578836   0.529563  Rangpur  0.714629
13         0.556352        0.641066   0.535552      Ctg  0.673644
14         0.725394        0.801327   0.543708  Rangpur  0.664044
15         1.000000        0.543030   0.554864    Dhaka  0.648921
16         0.471808        0.535270   0.560312      Ctg  0.632454
17         0.572468        0.714013   0.598948    Dhaka  0.623317
18         0.554881        0.478772   0.625116  Rangpur  0.617103
20         0.461169        0.476424   0.633053      Ctg  0.584482
21         0.474084        0.780210   0.635327    Dhaka  0.544157
22         0.447505        0.544293   0.642920  Rangpur  0.538747
23         0.408424        0.414638   0.645992  Rangpur  0.529634
24         0.465947        0.365388   0.297964    Dhaka  0.528609
25         0.391080        0.671958   0.292427      Ctg  0.522146
26         0.455574        0.706845   0.284134  Rangpur  0.512737
27         0.436093        0.582978   0.748613    Dhaka  0.508654
28         0.399467        1.000000   0.250429  Rangpur  0.498934
29         0.396769        0.774566   0.227092    Dhaka  0.486108
30         0.374931        0.489928   0.193163  Rangpur  0.480099
31         0.369741        0.772053   0.186989    Dhaka  0.466280
32         0.383485        0.593294   0.097683      Ctg  0.465966
33         0.335617        0.394134   0.454943  Rangpur  0.462312
34         0.280776        0.810055   0.446810      Ctg  0.461939
35         0.278284        0.257032   0.435618    Dhaka  0.460626
36         0.173353        0.576825   0.426311  Rangpur  0.428126
37         0.266527        0.000000   0.417626      Ctg  0.423852
38         0.122345        0.111636   0.392690    Dhaka  0.374747
39         0.233194        0.241309   0.370931      Ctg  0.373489
40         0.173901        0.512041   0.366260      Ctg  0.357914
41         0.168691        0.254469   0.348614  Rangpur  0.355430
42         0.142976        0.341852   0.313705      Ctg  0.319951
43         0.093776        0.579307   0.075319    Dhaka  0.310156
44         0.134127        0.788072   0.060059      Ctg  0.284485
45         0.006049        0.554724   0.004036    Dhaka  0.282940
46         0.007956        0.491260   0.629768  Rangpur  0.196020
47         0.000000        0.640547   0.000000      Ctg  0.156990
48         0.003278        0.003502   0.000000    Dhaka  0.118211
49         0.000000        0.500148   0.095749      Ctg  0.000000

<h2> Standardizatin </h2>

In [29]:
from sklearn.preprocessing import StandardScaler

In [31]:
df_std =  df.copy()
model_std = StandardScaler()

In [33]:
df_std['Marketing Spend'] = model_std.fit_transform(df_std[['Marketing Spend']]) # fit() = training the model ; transform() = replace the values
df_std['Administration'] = model_std.fit_transform(df_std[['Administration']])
df_std['Transport'] = model_std.fit_transform(df_std[['Transport']])
df_std['Profit'] = model_std.fit_transform(df_std[['Profit']])

In [35]:
df_std.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.895248        0.586658   2.165287    Dhaka  1.997924
1         1.943398        1.110709   1.929843      Ctg  1.986261
2         1.743767       -0.707282   1.626191  Rangpur  1.967846
3         1.546035       -0.072973   1.417348    Dhaka  1.765533
4         1.496650       -1.060289   1.273550  Rangpur  1.350548